.colorPallet{
    margin-top: 10px;
    display:grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    gap:5px;
    flex-wrap:wrap;
    justify-items:center;
}
/* .color-menu1{
    display: flex;
    flex-direction: column;
    align-items: center;
} */

.color-menu1 .btn{
    font-size : clamp(12px, 3vw, 14px);
    font-family: 'SourceSansPro-Bold';
    color: rgb(75, 2, 71);
    background-color: aliceblue;
}
#blue{
    background-color: rgb(0, 68, 255);
    width: 50px;
    height: 50px;
    border-radius: 6px;
}
#red{
    background-color: rgb(246, 21, 1);
    width: 50px;
    height: 50px;
    border-radius: 6px;
}
#black{
    background-color: rgb(0, 0, 0);
    width: 50px;
    height: 50px;
    border-radius: 6px;
}
#white{
    background-color: rgb(220, 220, 220);
    width: 50px;
    height: 50px;
    border-radius: 6px;
}
#green{
    background-color: rgb(2, 203, 72);
    width: 50px;
    height: 50px;
    border-radius: 6px;
}
#gray{
    background-color: rgb(116, 116, 116);
    width: 50px;
    border-radius: 6px;
    height: 50px;
}
#pink{
    background-color: rgb(255, 86, 227);
    width: 50px;
    border-radius: 6px;
    height: 50px;
}
#brown{
    background-color: rgb(238, 89, 2);
    width: 50px;
    border-radius: 6px;
    height: 50px;
}

.color-div:hover{
    cursor: pointer;
}
