.banner{
  width: 380px;
  height: 60px;
  margin-left:120px;
}
.mainResult{
  margin: auto;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  gap: 8px;
}
.res{
  background-color: blue;
  width: 250px;
  height: 250px;
}