
.colorMainDiv{
    display: inline-flex;
    flex-direction: row-reverse;
    gap: 10px;
    align-items: center;
}

  .titles{
    font-size: clamp(15px, 3vw, 18px);
    color: #740286;
    font-family: 'SourceSansPro-Bold';
  }
  .values{
    font-size: clamp(15px, 3vw, 18px);
    color: #b027a2;
    font-family: 'SourceSansPro-Bold';
  }
  .colorDiv{
    width: 30px;
    height: 30px;
    border: solid;
    border-width: 7px;
    border-radius: 15px;
    border-color: rgb(255, 255, 255);
}






